[submodule "osquery/zeek-osquery-framework"]
	path = osquery/zeek-osquery-framework
	url = https://github.com/iBigQ/zeek-osquery-framework
[submodule "osquery/zeek-osquery-queries"]
	path = osquery/zeek-osquery-queries
	url = https://github.com/iBigQ/zeek-osquery-queries
[submodule "osquery/zeek-osquery-state"]
	path = osquery/zeek-osquery-state
	url = https://github.com/iBigQ/zeek-osquery-state
[submodule "osquery/zeek-osquery-host-conn"]
	path = osquery/zeek-osquery-host-conn
	url = https://github.com/iBigQ/zeek-osquery-host-conn
[submodule "osquery/zeek-osquery-attribution"]
	path = osquery/zeek-osquery-attribution
	url = https://github.com/iBigQ/zeek-osquery-attribution
[submodule "osquery/zeek-osquery-download-execution"]
	path = osquery/zeek-osquery-download-execution
	url = https://github.com/iBigQ/zeek-osquery-download-execution
